<div class="panel panel-default" *ngFor="let list of songs">
  <div class="panel-heading" *ngIf="list.name != '(null)'">
    <h1 class="panel-title">{{list.name}}</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <img src="{{list.image[3]['#text']}}" alt="" class="img-thumbnail center-block">
      </div>
      <br>
      <div class="col-xs-12">
        <div class="stats">
          <a href="{{list.url}}" class="btn btn-primary center-block" target="_blank">View in last.fm</a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
